<table class="table">
<thead>
<tr>
<th>商品名</th>
</tr>
</thead>
<tbody>
<% @products.each do |product| %>
<tr>
<td><%= product.name %></td>
<td><%= link_to '編集', edit_product_path(product) %>
</tr>
<% end %>
</tbody>
</table>
<%= link_to '商品追加', new_product_path %>
